@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()



    <div class="header">
        
        @if (Request.IsAuthenticated)
        {
            <ul class="nav navbar-nav navbar-right" style="margin-right:5%;">
                <li>
                    @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:white;" })
                </li>
                <li><a style="color:white;" href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
            </ul>
        }
        else
        {
            <div class="nav navbar-nav navbar-right" style="margin-right:5%;margin-top:1%;">
                @Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-warning btn-sm" })
            </div>
        }
    </div>
}


